@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}


.content {
    display: flex;
    margin: 70px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
}

a,
a:visited,
a:hover {
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    color: #125699;
}


footer {
    margin-top: 12px;
    display: flex;
    align-items: center;
    line-height: 20px;
}

footer a {
    display: flex;
    align-items: center;
}


/* Responsive Styles */
@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {
    
}

#mainContent{
    width:140%;
    flex: 1;
    border-radius: 4px;
    background-color: #fff;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
#left{
    border:1px solid #999;
    margin:10px 5px 10px 10px;
    border-radius: 6px;
}
#right,#set{
    border:1px solid #999;
    margin:10px 10px 10px 5px;
    border-radius: 4px;
}
.Grid {
    display: flex;
}
.Grid-cell {
    flex: 1;
}
.Grid-cell.u-1of1 {
    flex: 0 0 20%;
}
.left-top{
    height:8%;
    border-bottom:1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:25px;
    font-family: 'Nunito Sans Bold', 'Nunito Sans', sans-serif;
}
.left-bottom{
    overflow: auto;
    height:680px;
    margin-left:-10px;
}
.right-top{
    height:8%;
    border-bottom:1px solid #999;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#closeAllBtn{
    margin:0 15px 10px 0;
    width: 12rem;
}

section {
    background-color: lightyellow;
}

  
.btn {
	border: none;
	background: none;
	font-family: 'Nunito Sans Bold', 'Nunito Sans', sans-serif;
	font-size: 1.1rem;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	border-radius: 4px;
	box-shadow: none;
	height: 2.6rem;
    width: 13rem;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
	/* remove the bottom 2 after we setup buttons in large medium small sizes */
	text-align: center;
    margin:10px 0 5px 30px;
}

.btn.primary {
	background: rgb(108, 139, 233);
	color: #fff;
}


.btn.primary:hover,
.btn.primary:active,
.btn.primary:focus {
	background: rgb(74, 103, 231);
}

.btn.primary[disabled],
.btn.primary[disabled]:hover,
.btn.primary[disabled]:focus {
	background: rgba(215, 221, 242, 1);
	color: #7C94C4;
	opacity: 1;
	cursor: default;
}

.btn.tertiary {
	background: rgba(49, 173, 121, 1);
	color: #fff;
    width: 12rem;
    margin-left:45px;
    text-align: right;
}

.btn.tertiary:hover,
.btn.tertiary:active,
.btn.tertiary:focus {
	background: rgba(16, 136, 86, 1);
}

.btn.tertiary[disabled],
.btn.tertiary[disabled]:hover,
.btn.tertiary[disabled]:focus {
	background: rgba(215, 221, 242, 1);
	color: #7C94C4;
	opacity: 1;
	cursor: default;
}

.btn.folder {
	color: #000;
    width: 28rem;
    height: 2rem;
    margin-top: -4px;
    text-align: left;
    border:1px solid rgb(245, 246, 247);
}

.btn.folder:hover,
.btn.folder:active,
.btn.folder:focus {
	background: #fff;
}

.btn.folder[disabled],
.btn.folder[disabled]:hover,
.btn.folder[disabled]:focus {
	background: rgb(233, 235, 243);
	color: #fbfcfd;
	opacity: 1;
	cursor: default;
}

.btn.middle {
	background: rgb(108, 139, 233);
	color: #fff;
    width: 6rem;
    height: 2rem;
    margin-left: 15px;
    margin-right: 15px;
}

.btn.middle:hover,
.btn.middle:active,
.btn.middle:focus {
	background: rgb(74, 103, 231);
}

.btn.middle[disabled],
.btn.middle[disabled]:hover,
.btn.middle[disabled]:focus {
	background: rgba(215, 221, 242, 1);
	color: #7C94C4;
	opacity: 1;
	cursor: default;
}

.right-bottom{
    display: flex;
}
#bos-tabs{
    margin:10px 0 0 10px;
    width:98%;
    height:685px;
    overflow: auto;
}
.new-tab{
    border-bottom:1px solid #dee2e6;
    border-left:1px solid #dee2e6;
    border-right:1px solid #dee2e6;
    height:625px;
}

.tab-content-one{
    margin:0 0 0 0;
    height:6%;
    display: flex;
    align-items: center;
}
.tab-content-two{
    margin:0 0 0 0;
    border-top:1px solid #dee2e6;
    height:44%;
}
.tab-content-three{
    margin:0 0 0 0;
    border-top:1px solid #dee2e6;
    height:6%;
    display: flex;
    align-items: center;
}
.tab-content-four{
    margin:0 0 0 0;
    border-top:1px solid #dee2e6;
    height:44%;
}
.content-two-top{
    margin:5px 10px 5px 10px;
    height:80%;
    overflow: auto;
}
.content-two-bottom{
    margin:5px 10px 10px 10px;
    height:15%;  
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.content-four-top{
    margin:5px 10px 5px 10px;
    height:75%;
}
.content-four-bottom{
    margin:5px 10px 10px 10px;
    height:20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#refreshBtn{
    margin-bottom:10px;
}
#outputBtn{
    margin-bottom:10px;
}
.iPlabel{
    text-align: center;
    margin:0 0 0 5px;
}
.inputNum{
    margin-left:15px;
    width: 5rem;
}

.resultCount{
    margin-left:79%;
}

.modal-body{
    height:180px;
    width:200px;
}

.queryName{
    width: 28rem;
    height: 2rem;
}

.dropdown-menu{
    width: 28rem;
}

#otherDropdown{
    width: 14rem;
    margin:13px 10px 0 15px;
}

#inputBottom{
    margin-top:5px;
}

#labelBottom{
    margin-top:10px;
}

.notQueryContentTop{
    margin:0 20px 0 10px;
    width:98%;
    height:9%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.notQueryContentBottom{
    margin:0 10px 10px 10px;
    width:98%;
    height:89%;
}
#importORFBtn{
    width: 15rem;
}
.form-group{
    margin:0 0 5px 10px;
    height: 2rem;
    width:8rem;
}

.appSet,.tranSet{
    margin:10px 10px 10px 10px;
    width:98%;
    height:750px;
}

.form-top {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
}
.form-input {
    width: 300px;
    height: 30px;
}
.form-label{
    margin-right:10px;
    width:150px;
    text-align: center;
}
.form-buttons {
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 1rem;
    margin-left: 2rem;
}

.form-buttons .cancel {
    margin-left: 4rem;
    text-align: center;
}
.setLeft,.setRight{
    float:left;
    margin-right:20px;
}

#dropdown-basic-small{
    width:200px;
    margin-left:20px;
}
#button-basic-small{
    width:35px;
    height:25px;
    margin:0 0 0 20px;
}
.content-two-top-top{
    display: flex;
    margin:20px 0 0 0;
}
.ngx-datatable.material{
    box-shadow:unset;
    border:1px solid #dee2e6;
}

.content-two-top-content{
    margin:10px 0 0 20px;
}
.content-two-top-bottom{
    text-decoration: underline;
    margin:10px 0 0 20px;
}

.condition,.conditionUp{
    display: flex;
    margin:10px 0 0 10px;
}
.isConditionCheckbox{
    margin:7px 10px 0 0;
}
#button-basic-num-small{
    width:20px;
    height:15px;
    margin:6px 5px 0 0;
    background-color: #fff;
    border: 1px solid #999;
    box-shadow:0 px 2px 2px rgba(0, 0, 0, 0.12);
}
.editChange{
    display: flex;
}

#basic-link-dropdown-clickhere{
    width:100px;
    margin:0 0 0 -120px;
}

#basic-link-dropdown-all{
    width:50px;
}

#basic-link-dropdown-con1{
    width:50px;
    margin:0 0 0 -80px;
}
#basic-link-dropdown-con2{
    width:50px;
    margin:0 0 0 -38px;
}

button:focus{
    outline:0px;
}

.clickhere{
    width:82px;
    margin-top:-1px;
    border:0px;
    color: #1976d2;
}


#dropdown-nested{
    width:300px;
}

#dropdown-basic-small-no{
    width:300px !important;
    top:100% !important;
    left:0 !important;
}

